<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/site.css" type="text/css">
</head>

<body>
    <nav>
        <header>
            <span>Home</span>
            <span class="id"></span>
            <span class="section">Class: Web Programming-CS 546 B</span>
            <span class="major">Major: Computer Science</span>
        </header>
    </nav>
    <main>
        {{{body}}}
    </main>
    <footer id="foot">

        <span>Name : Sunil Swarna</span>
        <span class="id">Student ID : 10440746</span>
        <span class="section">Class: Web Programming-CS 546 B</span>
        <span class="major">Major: Computer Science</span>

    </footer>
</body>

</html>