<div class="card text-center w-75 offset-1 mb-3">
    <div class="card-header">
        <div class="row">
            <div class="offset-1">Special title treatment</div>
            <div class="ml-auto p-2">Posted on Oct 2019</div>

        </div>
    </div>
    <div class="card-body">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
        <span> #Hey </span>
        <span> #Hii</span>
        <span> #Heoo</span>
    </div>
</div>