<h1 class="border-bottom pb-3 mb-4">Friend Request</h1>
<div>
    <div class="col-4">
        <form class="form-inline my-2 my-lg-0">
            <div>
                <input style="margin-left:5em;" class="form-control col" type="search" placeholder="Search"
                    aria-label="Search">
            </div>
            <button class="btn btn-info" type="submit">Search</button>
        </form>
    </div>
    <div class="w-100"></div>
    <div class="col-6 col-sm-1"></div>
    <div class="col-6 col-sm-3 offset-md-5">
        {{!-- <div style="height: 300px;border-left: 2px solid black;position: absolute;" class="vertical"></div> --}}
        <h1 class="border-bottom pb-3 mb-4">Friend Suggestions</h1>
        <p style="display:inline-flexbox">
            <span style="font-size: 28px;top:9px" class="glyphicon glyphicon-user"></span>
            <a class="btn btn-success"><span class="glyphicon glyphicon-ok" btn-sm></span></a>
            <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>

        </p>
        <p style="display:inline-flexbox">
            <span style="font-size: 28px;top:9px" class="glyphicon glyphicon-user"></span>
            <a class="btn btn-success"><span class="glyphicon glyphicon-ok" btn-sm></span></a>
            <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>

        </p>

    </div>
</div>