<div id="page-container">
  <nav>
    <header>
      <a href="/" class="id">Home</a>
      <a href="/friends" class="id"> Friends</a>
      <a href="/addPost" class="id">Add Post</a>
      <a href="/logout" class="id">logout</a>
    </header>
  </nav>
</div>

<p id="latlong"></p>
{{#if allNotes.length}}
<ul>
  {{#each allNotes}}
  <li>
    {{this.title}}
    {{this.content}}
  </li>
  {{/each}}
</ul>

{{else}}
<p class="not-found">We're sorry, but no results were found for {{name}}.</p>
{{/if}}

