<div id="content-wrap">
    <div id="form">
        <label for="validateTitle">Enter Number:</label>
        <input type="text" id="validateTitle" name="number" placeholder="text" />
        <button type="submit" class="button">Submit</button>

    </div>

    <div id="latlong">

    </div>

    <div>
        <label id="errorText" class="error"></label>
    </div>
    <script src="js/locations.js"></script>

</div>