

    

    <div id="form">
        <label for="validateTitle">Enter Number:</label>
        <input type="text" id="validateTitle" name="number" placeholder="text" />
        <button type="submit" class="button">Submit</button>

    </div>

    <div id="latlong">
        
    </div>

    <div>
        <label id="errorText" class="error"></label>
    </div>

    <footer id="foot">

        <span>Name : Sunil Swarna</span>
        <span class="id">Student ID : 10440746</span>
        <span class="section">Class: Web Programming-CS 546 B</span>
        <span class="major">Major: Computer Science</span>

    </footer>

    <script src="js/locations.js"></script>

