<div class="bs-example">
    <h1 class="border-bottom pb-3 mb-4">Registration Form</h1>
    <form class="needs-validation" action="/signup" method="post">
        <div class="form-group row">
            <label class="col-lg-2 col-form-label" for="firstName">Full Name:</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="firstName" id="firstName" placeholder="First Name"
                    required>
            </div>
            <div class="col-sm-3">
                <small id="validatefirstName" class="text-danger">
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label" for="lastName">Last Name:</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last Name" required>
            </div>
            <div class="col-sm-3">
                <small id="validatelastName" class="text-danger">
                </small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-2 col-form-label" for="inputEmail">Email Address:</label>
            <div class="col-lg-4">
                <input type="email" class="form-control" name="inputEmail" id="inputEmail" placeholder="Email Address"
                    required>
            </div>
            <div class="col-sm-3">
                <small id="validateEmail" class="text-danger">
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label" for="password">Password:</label>
            <div class="col-lg-4">
                <input type="password" class="form-control" data-minlength="5" name="password" id="password"
                    placeholder="Password" required>
            </div>
            <div class="col-sm-3">
                <small id="passwordHelp" class="text-danger">
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-form-label" for="confirmPassword">Confirm Password:</label>
            <div class="col-lg-4">
                <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
                    placeholder="Confirm Password" required>
            </div>
            <div class="col-sm-3">
                <small id="confirmPasswordHelp" class="text-danger">
                </small>
            </div>
        </div>


        <div class="form-group row">
            <div class="col-lg-4 offset-sm-3">
                <input id="login" type="submit" class="btn btn-primary" value="SIGN UP">
                <input type="reset" class="btn btn-outline-secondary" value="Reset">
            </div>
        </div>
    </form>
    <div class="form-group row">
        <p class="col-lg-4 offset-sm-3">
            Already have an account ?
            <a style="background-color: #008a00;" class="btn btn-success link" href="/">Login here</a>
        </p>
    </div>
</div>

<div id="dbError">
    {{#if error}}
    <ul class="list-group col-md-4 offset-1">
        <li class="list-group-item list-group-item-primary" style="margin-left:35%;background-color: #0062cc78">
            {{error}}
        </li>
    </ul>
    {{/if}}
</div>
<script src="/js/signup.js"></script>